/* font-family: fenway-park-jf, sans-serif; */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 400px;
  margin: auto;
  background-color: #F4F0EB;
  font-family: fenway-park-jf, sans-serif;
  
}

.welcome-page {
  background-color: #F4F0EB;
  text-align: center;
}

header h1 {
  max-width: 120px;
  margin: auto;
}


.decades .link {
  max-width: 36px;
}

main img {
  max-width: 185px;
}

.welcome-page main h1 {
  position: absolute;
  right: 20px;
}

.astro {
  color: #76C3AE;
  position: relative;
}











