/* font-family: fenway-park-jf, sans-serif; */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 400px;
  margin: auto;
  font-family: fenway-park-jf, sans-serif;
  }

.welcome-page {
  background-color: #F4F0EB;
  text-align: center;
}


header h1 {
  max-width: 120px;
  margin: auto;
}


.decades .link {
  max-width: 36px;
}

.welcome-page main article {
  margin: 40px 0;
}

.welcome-page main img {
  max-width: 185px;
}

.welcome-page main h1 {
  position: absolute;
  right: 20px;
}

.main .button {
  text-decoration: none;
  text-align: left;
}

.astro h1 {
  color: #76C3AE;
  position: relative;
}

.astro {
  background-image: url(/img/50s_deco.svg);
  background-repeat: no-repeat;
}

.astro .fifty {
  color: #707851;
}

.tetsujin {
  background-image: url(/img/60s_deco.svg);
  background-repeat: no-repeat;
  background-position: 0 90%;
}

.tetsujin h1 {
  color: #EBC7CE;
  position: absolute;
}

.tetsujin .sixty {
  color: #4472B3;
}

.oscar {
  background-image: url(/img/70s_deco.svg);
  background-repeat: no-repeat;
  background-position: 0 60% ;
}

.oscar h1 {
  color: #EFDC92;
  position: absolute;
}

.oscar .seventy {
  color: #B24627;
}

.welcome {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.welcome a {
  color: black;
  text-decoration: none;
  text-align: left;
}

.welcome-links {
  opacity: 70%;
}

.welcome-links a {
  text-decoration: none;
  color: black;
}

.welcome-links img {
  max-width: 85px;
  padding-bottom: 15px;
}

.fifty-anime {
  background-color: #91C2AE;
  text-align: center;

}

.fifty-anime .sommary {
  margin: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.fifty-anime .sommary a {
  text-decoration: none;
  color: #E7EBB4;
}

.history-astro {
  margin: 0px 38px;
  /* max-height: 250px;
  text-overflow: hidden; */
}

h1 {
  color: #E7EBB4;
  text-align: start;
  margin-left: 38px;
}

.fifty-button {
  background-color: #E7EBB4;
  color: #91C2AE;
  width: 80px;
  padding: 5px;
}

.astro-product {
  margin: 0 38px;
}

.navigate-fifty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin: 100px 0px;
}

.navigate-fifty a {
  text-decoration: none;
  color: #E7EBB4;
}







