/* font-family: fenway-park-jf, sans-serif; */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 400px;
  margin: auto;
  background-color: #F4F0EB;
  font-family: fenway-park-jf, sans-serif;
  padding: 25px;
  
}

.welcome-page {
  background-color: #F4F0EB;
  text-align: center;
}


header h1 {
  max-width: 120px;
  margin: auto;
}


.decades .link {
  max-width: 36px;
}

.welcome-page main img {
  max-width: 185px;
}

.welcome-page main h1 {
  position: absolute;
  right: 20px;
}

.main .button {
  text-decoration: none;
}

.astro h1 {
  color: #76C3AE;
  position: relative;
}

.astro .fifty {
  color: #707851;
}

.tetsujin h1 {
  color: #EBC7CE;
  position: absolute;
}

.tetsujin .sixty {
  color: #4472B3;
}

.oscar h1 {
  color: #EFDC92;
  position: absolute;
}

.oscar .seventy {
  color: #B24627;
}

.welcome {
  display: flex;
  flex-direction: column;
}

.welcome a {
  color: black;
  text-decoration: none;
  text-align: left;
}











