/* font-family: fenway-park-jf, sans-serif; */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 400px;
  margin: auto;
  font-family: fenway-park-jf, sans-serif;
}

.welcome-page {
  background-color: #f4f0eb;
  text-align: center;
}

header h1 {
  max-width: 120px;
  margin: auto;
}

.decades .link {
  max-width: 36px;
}

.welcome-page main article {
  margin: 60px 0;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-page article a {
  font-size: x-large;
}

.welcome-page main h1 {
  right: 20px;
}

.main .button {
  text-decoration: none;
  text-align: left;
  position: absolute;
  bottom: 0px;
}

.astro h1 {
  color: #707851;
  position: absolute;
  top: 50px;
}

.astro {
  position: relative;
  align-items: baseline;
}

.astro .fifty {
  color: #707851;
}

.tetsujin {
  position: relative;
}

.tetsujin h1 {
  color: #4472b3;
  position: absolute;
  top: 120px;
}

.tetsujin .sixty {
  color: #4472b3;
}

.oscar h1 {
  color: #b24627;
  position: absolute;
}

.oscar .seventy {
  color: #b24627;
}

.welcome {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.welcome a {
  color: black;
  text-decoration: none;
  text-align: left;
}

.welcome-links {
  opacity: 70%;
}

.welcome-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.636);
}

.welcome-links img {
  max-width: 85px;
  padding-bottom: 15px;
}

/* fifty */

.fifty-anime {
  background-color: #91c2ae;
  text-align: center;
}

.fifty-anime .sommary {
  margin: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.fifty-anime .sommary a {
  text-decoration: none;
  color: #e7ebb4;
}

.astroboy {
  height: 160px;
  margin: 0px 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s;
  position: relative;
}

.fifty-anime main h1 {
  color: #e7ebb4;
  text-align: start;
  margin-left: 38px;
}

.fifty-button {
  background-color: #e7ebb4;
  color: #91c2ae;
  width: 80px;
  padding: 5px;
}

.buy-astro a{
  text-decoration: none;
  color: #91c2ae;
}

.astroboy.is-open {
  height: 400px;
}

.more {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.astro-product {
  margin: 0 38px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.astro-product img {
  width: 500px;
  
}

.navigate-fifty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin: 50px 0px;
}

.navigate-fifty a {
  text-decoration: none;
  color: #e7ebb4;
  margin: 0 20px;
}

.social-fifty {
  margin: 50px 0px;
  color: #e7ebb4;
}

.social-fifty img {
  max-width: 60px;
  margin-bottom: 20px;
}

.social-fifty a {
  text-decoration: none;
  color: #e7ebb4;
}

/* sixty */

.sixty-anime {
  background-color: #ebc7ce;
  text-align: center;
}

.sixty-anime .sommary {
  margin: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.sixty-anime .sommary a {
  text-decoration: none;
  color: #4472b3;
}

.tetsujingo {
  height: 160px;
  margin: 0px 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s;
  position: relative;
}

.sixty-anime main h1 {
  color: #4472b3;
  text-align: start;
  margin-left: 38px;
}

.sixty-button {
  background-color: #4472b3;
  color: #ebc7ce;
  width: 80px;
  padding: 5px;
  margin-left: 38px;
}

.buy-tetsujin a {
  text-decoration: none;
  color: #ebc7ce;
}

.tetsujingo.is-open {
  height: 400px;
}

.more {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.tetsujin-product {
  margin: 0 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tetsujin-product img {
  width: 400px;
}

.navigate-sixty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin: 50px 0px;
}

.navigate-sixty a {
  text-decoration: none;
  color: #4472b3;
  margin: 0 20px;
}

.social-sixty {
  margin: 50px 0px;
  color: #4472b3;
}

.social-sixty img {
  max-width: 60px;
  margin-bottom: 20px;
}

.social-sixty a {
  text-decoration: none;
  color: #4472b3;
}

/* seventy */

.seventy-anime {
  background-color: #efdc92;
  text-align: center;
}

.seventy-anime .sommary {
  margin: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.seventy-anime .sommary a {
  text-decoration: none;
  color: #b24627;
}

.ladyoscar {
  height: 160px;
  margin: 0px 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s;
  position: relative;
}

.seventy-anime main h1 {
  color: #b24627;
  text-align: start;
  margin-left: 38px;
}

.seventy-button {
  background-color: #b24627;
  color: #efdc92;
  width: 80px;
  padding: 5px;
  margin-left: 38px;
}

.buy-oscar a {
  text-decoration: none;
  color: #efdc92;
}

.history.is-open {
  height: 400px;
}

.more {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.oscar-product {
  margin: 0 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.oscar-product img {
  width: 400px;
}

.navigate-seventy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin: 50px 0px;
}

.navigate-seventy a {
  text-decoration: none;
  color: #b24627;
  margin: 0 20px;
}

.social-seventy {
  margin: 50px 0px;
  color: #b24627;
}

.social-seventy img {
  max-width: 60px;
  margin-bottom: 20px;
}

.social-seventy a {
  text-decoration: none;
  color: #b24627;
}
