/* font-family: fenway-park-jf, sans-serif; */

html {
  scroll-behavior: smooth;
}

body {
  max-width: 400px;
  margin: auto;
  font-family: fenway-park-jf, sans-serif;
}

.welcome-page {
  background-color: #f4f0eb;
  text-align: center;
}

header h1 {
  max-width: 120px;
  margin: auto;
}

.decades .link {
  max-width: 36px;
}

.welcome-page main article {
  margin: 60px 0;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-page main img {
  max-width: 185px;
}

.welcome-page main h1 {
  position: absolute;
  right: 20px;
}

.main .button {
  text-decoration: none;
  text-align: left;
  position: absolute;
  bottom: 0px;
}

.astro h1 {
  color: #707851;
  position: relative;
}

.astro {
  background-image: url(/img/50s_deco.svg);
  background-repeat: no-repeat;
  background-color: #91c2ae;
}

.astro .fifty {
  color: #707851;
}

.tetsujin {
  background-image: url(/img/60s_deco.svg);
  background-repeat: no-repeat;
  background-position: 0 90%;
  background-color: #ebc7ce;
}

.tetsujin h1 {
  color: #4472b3;
  position: absolute;
}

.tetsujin .sixty {
  color: #4472b3;
}

.oscar {
  background-image: url(/img/70s_deco.svg);
  background-repeat: no-repeat;
  background-position: 0 60%;
  background-color: #f5db9a;
}

.oscar h1 {
  color: #b24627;
  position: absolute;
}

.oscar .seventy {
  color: #b24627;
}

.welcome {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}

.welcome a {
  color: black;
  text-decoration: none;
  text-align: left;
}

.welcome-links {
  opacity: 70%;
}

.welcome-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.636);
}

.welcome-links img {
  max-width: 85px;
  padding-bottom: 15px;
}

/* fifty */

.fifty-anime {
  background-color: #91c2ae;
  text-align: center;
}

.fifty-anime .sommary {
  margin: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.fifty-anime .sommary a {
  text-decoration: none;
  color: #e7ebb4;
}

.history-astro {
  height: 160px;
  margin: 0px 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s;
  position: relative;
}

h1 {
  color: #e7ebb4;
  text-align: start;
  margin-left: 38px;
}

.fifty-button {
  background-color: #e7ebb4;
  color: #91c2ae;
  width: 80px;
  padding: 5px;
}

.history-astro.is-open {
  height: 400px;
}

.more {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.astro-product {
  margin: 0 38px;
}

.navigate-fifty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin: 50px 0px;
}

.navigate-fifty a {
  text-decoration: none;
  color: #e7ebb4;
}

.social-fifty {
  margin: 50px 0px;
  color: #e7ebb4;
}

.social-fifty img {
  max-width: 60px;
  margin-bottom: 20px;
}

.social-fifty a {
  text-decoration: none;
  color: #e7ebb4;
}

/* sixty */

.sixty-anime {
  background-color: #EBC7CE;
  text-align: center;
}

.sixty-anime .sommary {
  margin: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.sixty-anime .sommary a {
  text-decoration: none;
  color: #4472B3;
}

.history-tetsujin {
  height: 160px;
  margin: 0px 38px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: height 0.3s;
  position: relative;
}

h1 {
  color: #4472B3;
  text-align: start;
  margin-left: 38px;
}

.sixty-button {
  background-color: #4472B3;
  color: #EBC7CE;
  width: 80px;
  padding: 5px;
  margin-left: 38px;
}

.history-sixty.is-open {
  height: 400px;
}

.more {
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.sixty-product {
  margin: 0 38px;
}

.navigate-sixty {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin: 50px 0px;
}

.navigate-sixty a {
  text-decoration: none;
  color: #4472B3;
}

.social-sixty {
  margin: 50px 0px;
  color: #4472B3;
}

.social-sixty img {
  max-width: 60px;
  margin-bottom: 20px;
}

.social-sixty a {
  text-decoration: none;
  color: #4472B3;
}